html,
body {
    height: 100%;
}

body {
    display: table;
    width: 100%;
    background-color: #eee;
}

.content-wrap {
    display: table-row;
    height: 100%;
    padding-top: 40px;
}

.navbar {
    margin-top: 40px;
    padding: 8px;
    background-color: #ffffff;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.navbar-nav:hover {
    background-color: #e6e6e6;
}

.nav-pills + .panel-body {
    border-top: solid 1px #ddd;
}

.nav-pills > li > a {
    border-radius: 0;
}

.dropdown-scroll {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.dropdown-menu > li > a > .fa {
    min-width: 20px;
}

.panel-footer > form > .btn, .panel-footer > .form-group .btn {
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer {
    display: table-row;
    vertical-align: middle;
    box-sizing: border-box;
    background-color: #d4d4d4;
}

.footer a {
    color: #777;
}

.highlight-color {
    background-color: #efefef;
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.panel-caution {
    border-color: #FFAC00;
}

.panel-caution>.panel-heading {
    color: #FFFFFF;
    background-color: #FFC44A;
    border-color: #FFAC00;
}

.navbar-heading {
    padding-left: 10px;
    padding-right: 10px;
    min-width: 165px;
    background-color: #ffffff;
}

.navbar-height {
    height: 50px;
}

.navbar-brand {
    float: left;
    padding: 2px 10px;
    font-size: 18px;
    line-height: 20px;
}

.sidenav > li > a {
    position: relative;
    display: block;
    padding: 10px 15px;
    color: #464646;
    border-left: 5px solid;
    margin-top: 2px;
    margin-bottom: 2px;
}

.sidenav > li > a:link {
    color: #464646;
}

.sidenav > li > a:visited {
    color: #464646;
}

.sidenav > li > a:hover {
    background-color: #cdcdcd;
}

.panel {
    border-radius: 0px;
}

.panel-heading {
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}

.panel-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background: inherit;
    box-shadow: none;
}

.form-signin .form-signin-heading,
.form-signin {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin .first-input {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin .second-input {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signup .form-group {
    margin-bottom: 10px;
}

.container .text-faded {
    margin: 20px 0;
}

.no-border-radius {
    border-radius: 0px;
}

.form-inline > .alert-info {
    min-width: 196px;
    margin-bottom: 4px;
    background-color: #eeeeee;
}

.dropdown-menu > li > button {
    width: 100%;
    text-align: left;" 
}

.seperator {
    height: 1px;
    margin: 0 0 9px 0;
    overflow: hidden;
    background-color: #ddd;
}

.scrollable-menu {
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
}

.error-details {
    max-height: 500px;
    overflow-y: scroll;
    margin-bottom: 16px;
}

@media all {
    .logo,
    .logo-login {
        position: relative;
        display: block;
        padding-right: 15px;
        padding-left: 15px;
        margin: 0 auto;
        width: 15rem;
        float: none;
    }
    .logo-text {
        text-align: center;
    }
    .page-header {
        padding-bottom: 9px;
        margin: 0 0 0;
        border-bottom: 1px solid #eee;
    }
}

@media all and (min-width: 992px) {
    .logo {
        width: auto;
        height: auto;
        float: left;
    }
    .logo-login {
        margin-left: 25%;
        float: left;
        width: 16.66666667%;
    }
    .logo-text {
        text-align: left;
    }
    .page-header {
        padding-bottom: 9px;
        margin: 40px 0 20px;
        border-bottom: 1px solid #eee;
    }
}