html {
    position: relative;
    min-height: 100%;
}

body {
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #eee;
    /* Footer-Bereich */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Footer-Höhe (sollte mit margin-bottom bei body übereinstimmen) */
    height: 60px;
    background-color: #e0e0eb;
}

.sidebar .highlight-color {
    background-color: #f5f5fa;
}

.navbar-heading {
	padding-left: 10px;
	padding-right: 10px;
    background-color: #ffffff;
}

.panel-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
    background: inherit;
    box-shadow: none;
}

.form-signin .form-signin-heading,
.form-signin {
    margin-bottom: 10px;
}

.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin #username {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin #password {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signup .form-group {
    margin-bottom: 10px;
}

.container .text-faded {
    margin: 20px 0;
}

.img-sized-down {
    height: 46px;
    display: block;
    margin-top: 2px;
    margin-right: 14px;
}