<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Info')"></head>

<body>
<div class="content-wrap">
    <div class="container">
        <div th:replace="fragments ::  header"></div>
        <div class="panel panel-primary">
            <div class="panel-heading">Info</div>
            <div class="panel-body">
                <h3>Liebe Ehemalige!</h3>
                <p>Ihr war Schülerinnen und Schüler des Gymnasiums Waldkraiburg und habt mit eurem Abitur an einem bayrischen Gymnasium einen der höchsten Schulabschlüsse weltweit geschafft. Wir sind sehr stolz auf eure Leistung! Doch wie sieht eigentlich das Leben nach der Schule aus?</p>

                <p>So vielfältig wie jeder Schülerjahrgang ist, so vielfältig ist auch der weitere Weg zum beruflichen Erfolg: FSJ, <i>work and travel</i>, Lehre, duales Studium, Studium an einer Hochschule oder Universität etc.
                Unsere aktuellen Schüler interessieren sich sehr für bestimmte Bereiche (Naturwissenschaften, technischer Bereich, Medizin, Informatik) oder für spezielle Ausbildungsrichtungen bzw. Studiengänge. Ihr seid nun diejenigen, die als versierte Ansprechpartner fungieren können. Egal, ob einer unserer Schüler sich beispielsweise für Informatik interessiert oder ganz konkret für den Studiengang Jura in Passau: Die Datenbank der registrierten Ehemaligen kann nach derartigen Stichworten gefiltert werden, unsere Schüler können somit gezielt mit euch Kontakt aufnehmen.</p>

                <p>Selbstverständlich wird eure E-Mail-Adresse dabei nicht weitergegeben, bei unserem Ehemaligen-Portal handelt es sich um eine passwortgeschützte Plattform, ein "Intranet", in dem nur die persönliche Daten sichtbar sind, die ihr selbst eingetragen habt (Abiturjahrgang, beruflicher Werdegang etc.). Die bisherigen CVs sind sehr beeindruckend!</p>

                <p>Neben der Möglichkeit, interessante berufliche Informationen weiterzugeben, besteht auch die Option, eine Nachricht an ausgewählte Personen, euren Abi-Jahrgang oder an alle zu schicken. Vielleicht erleichtert euch unsere Plattform somit das Organisieren eines Abiturtreffens nach einigen Jahren.</p>
                
                <p>Jedes Jahr am Tag der Offenen Tür an unserer (eurer!) Schule teilen uns Eltern mit, wie beeindruckend die Identifikation der Schüler mit dem Gymnasium Waldkraiburg ist. Auch als Ehemalige fühlt ihr euch sicher noch mit eurer Schule verbunden, deshalb hoffen wir auf zahlreiche Anmeldungen!</p>
                
                <p>Vielen Dank für eure Kooperation und hoffentlich bis bald wieder an unserer Schule!</p>
                
                <p>Markus Rauscher</p>

            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: bootstrap-script"></div>
</body>

</html>
