<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Aktivierung')"></head>

<body>
    <div class="content-wrap">
        <div class="container">
            <div th:replace="fragments :: header">
            </div>
            <div class="panel panel-signin">
                <h2 class="panel-heading form-signin-heading">Account aktivieren</h2>
                <div class="alert alert-danger alert-dismissible fade in" th:if="${(param.error != null) and (param.success == null)}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p><strong>Aktivierung fehlgeschlagen</strong></p>
                    Bitte versuchen Sie es erneut oder kontaktieren Sie uns.
                </div>
                <div class="alert alert-success alert-dismissible fade in" th:if="${(param.error == null) and (param.success != null)}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p><strong>Aktivierungs-E-Mail erfolgreich gesendet</strong></p>
                    Sie müssen sich nun bei Ihrem E-Mail-Konto anmelden und den Erhalt der E-Mail bestätigen
                </div>
                <form th:action="@{/activation}" method="post" class="form-signin">
                    <div class="form-group">
                        <p>Wir senden Ihnen an die angegebene E-Mail Adresse einen Link, mit dem Sie Ihren Account aktivieren können.</p>
                        <p>Bereits gesendete E-Mails werden mit dem erneuten Senden ungültig.</p>
                    </div>
                    <button type="submit" class="btn btn-lg btn-warning btn-block">Aktivierungs-E-Mail senden</button>
                    <a th:href="@{/login}" class="btn btn-default btn-block">Abbrechen</a>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: bootstrap-script"></div>
</body>

</html>