<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Benutzerdaten</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="img/favicon.png" type="image/png" />
</head>

<body>
    <div class="container">
        <div class="page-header row">
            <div class="col-md-2"><img title="Gymnasium Waldkraiburg" src="img/logo120px.png" /></div>
            <h1 class="col-md-10">Ehemalige<br/><small>des Gymnasiums Waldkraiburg</small></h1>
        </div>
        <form class="form-horizontal form-signup" th:action="@{/edit}" method="post">
            <div class="panel panel-primary">
                <div class="panel-heading">Benutzerdaten</div>
                <div class="panel-body">
                    <div class="alert alert-danger" th:if="${param.error != null}" role="alert">Bearbeitung fehlgeschlagen</div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input name="email" type="email" class="form-control" id="inputEmail" th:value="${currentUser.email}" required="true" autofocus="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">Vorname</label>
                        <div class="col-sm-10">
                            <input name="firstName" type="text" class="form-control" id="inputFirstName" th:value="${currentUser.firstName}" required="true" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLastName" class="col-sm-2 control-label">Nachname</label>
                        <div class="col-sm-10">
                            <input name="lastName" type="text" class="form-control" id="inputLastName" th:value="${currentUser.lastName}" required="true" />
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Speichern</button>
                            <a href="/user" class="btn btn-warning">Abbrechen</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</body>

</html>