<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Veranstaltung bearbeiten')"></head>

<body>
    <div class="content-wrap">
        <div class="container">
            <div th:replace="fragments :: header"></div>
            <form class="form-horizontal form-signup" th:action="@{/event/{id}/edit(id=${event.id})}" method="post">
                <div class="panel panel-primary">
                    <div class="panel-heading">Veranstaltung bearbeiten</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" name="name" autofocus="true" required="true" th:value="${event.name}"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputParticipants" class="col-sm-2 control-label">Teilnehmer</label>
                            <div class="col-sm-10">
                                <select style="height: 160px;" class="form-control" multiple="true" name="participants" type="text" id="inputParticipants" required="true">
                                    <option th:each="u : ${allUsers}" th:value="${u.getId()}" th:text="|${u.firstName} ${u.lastName}|" th:selected="${#lists.contains(event.participants, u)}"></option>
                                </select>
                                <span class="help-block">Mit der Steuerung-Taste kannst du mehrere Teilnehmer auswählen.</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-2 control-label">Beschreibung</label>
                            <div class="col-sm-10">
                                <textarea id="inputDescription" class="form-control" name="description" rows="4" required="true" style="resize: none" th:text="${event.description}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPlace" class="col-sm-2 control-label">Ort</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPlace" name="place" required="true" th:value="${event.place}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDate" class="col-sm-2 control-label">Datum</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputDate" name="dateString" required="true" th:value="${dateString}" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" disabled="true">Speichern</button>
                                <a href="javascript:history.back()" class="btn btn-default">Abbrechen</a>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: bootstrap-script"></div>
    <script>
        $(function () {
            $('#inputDate').datetimepicker({
                locale: 'de'
            });
        });
    </script>
</body>

</html>