<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Fehler')"></head>

<body>
    <div class="content-wrap">
        <div class="container">
            <div th:replace="fragments :: header"></div>
            <p class="lead">Ein Fehler ist aufgetreten.</p>
            <p th:if="${errmsg}" th:text="${errmsg}"></p>

            <div class="error-details" id="details" th:if="${exception}" style="display: none;">
                <i th:text="${exception.toString()}"></i>
                <ul class="list-unstyled">
                    <li th:each="ste : ${stackTrace}" th:text="${ste.toString()}"></li>
                </ul>
            </div>

            <a class="btn btn-default" onclick="history.back();">Zurück</a>
            <a class="btn btn-default" th:if="${exception}" onclick="document.getElementById('details').style.display = 'block';">Details</a>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: bootstrap-script"></div>
</body>

</html>