<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Benutzerdaten</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="img/favicon.png" type="image/png" />
</head>

<body>
    <div class="container">
        <div th:replace="fragments :: header">
        </div>
        <p class="lead">Ein Fehler ist aufgetreten.</p>
        
        <!-- Ausschließlich temporäre Fehlermeldung -->
        <h4 style="color: grey;" th:if="${(param.type != null) and (param.type[0] == 'noSearchResults')}">Profil nicht gefunden</h4>
        <br />
        <!-- Ende -->
        
        <a class="btn btn-default" href="javascript:history.back()">Zurück</a>
    </div>

    <div th:replace="fragments :: footer">
    </div>

</body>

</html>