<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Veranstaltung erstellen')"></head>

<body>
    <div class="content-wrap">
        <div class="container">
            <div th:replace="fragments :: header"></div>
            <form class="form-horizontal form-signup" th:action="@{/event/delete}" method="post">
                <div class="panel panel-primary">
                    <div class="panel-heading" th:text="| ${event.name}|"></div>
                    <table class="table table-hover">
                        <tr>
                            <td>Veranstalter</td>
                            <td th:text="|${event.getOrganizer().firstName} ${event.getOrganizer().lastName}|">GWEEvent.organizerId</td>
                        </tr>
                        <tr>
                            <td>Teilnehmer</td>
                            <td>
                                <span th:if="${participants.length() > 0}" th:text="${participants}"></span>
                                <span th:if="${participants.length() == 0}" class="text-muted">Keine</span>
                            </td>
                        </tr>
                        <tr>
                            <td>Beschreibung</td>
                            <td th:text="${event.description}">GWEEvent.description</td>
                        </tr>
                        <tr>
                            <td>Ort</td>
                            <td th:text="${event.place}">GWEEvent.place</td>
                        </tr>
                    </table>
                    <div class="panel-footer">
                        <input type="hidden" name="eventId" th:value="${event.getId()}" />
                        <button th:if="${currentUser.getId() == event.getOrganizer().getId()}" type="submit" class="btn btn-primary" th:disabled="true">Nachricht an Teilnehmer</button>
                        <button th:unless="${currentUser.getId() == event.getOrganizer().getId()}" type="submit" class="btn btn-primary" th:disabled="true">Nachricht an Veranstalter</button>
                        <a class="btn btn-primary" th:href="@{/event/{id}/edit(id=${event.id})}">Veranstaltung Bearbeiten</a>
                        <button type="submit" class="btn btn-danger" th:disabled="${not currentUser.activated}">Veranstaltung Löschen</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: bootstrap-script"></div>
</body>

</html>