<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
</head>

<body>
    <!-- Navbar -->
    <div th:fragment="navbar">
        <nav class="navbar navbar-default highlight-color no-border-radius">
            <div class="container-fluid">
                <div class="navbar-header navbar-height">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <div class="navbar-left navbar-brand">
                        <a href="/">
                            <img title="Gymnasium Waldkraiburg" src="/img/logo46px.png" />
                        </a>
                    </div>
                    <div class="pull-left navbar-heading navbar-height">
                        <h5>Ehemalige<br/><small>des Gymnasiums Waldkraiburg</small></h5>
                    </div>
                </div>

                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <form class="navbar-form navbar-left" role="search" action="/search" method="get">
                        <div class="input-group" role="group">
                            <input class="form-control" type="search" name="q" />
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default">Suchen</button>
                            </span>
                        </div>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Account <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li class="dropdown-header">
                                    <h5>
                                        <span>Angemeldet als </span>
                                        <b>
                                            <span class="text-muted" th:text="${currentUser.firstName} + ' ' + ${currentUser.lastName}">Admin</span>
                                        </b>
                                    </h5>
                                </li>
                                <li>
                                    <a href="/user">Benutzerdaten</a>
                                </li>
                                <li>
                                    <a href="/edit">Einstellungen</a>
                                </li>
                                <li role="separator" class="divider"></li>
                                <li>
                                    <a href="/logout">Abmelden</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <!-- Bootstrap-Script -->
    <div th:fragment="bootstrap-script">
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    </div>

    <!-- Header -->
    <div class="page-header row" th:fragment="header">
        <div class="logo">
            <a href="/"><img title="Gymnasium Waldkraiburg" src="/img/logo120px.png" /></a>
        </div>
        <h1 class="logo-text col-md-10">Ehemalige<br/><small>des Gymnasiums Waldkraiburg</small></h1>
    </div>

    <div class="page-header row" th:fragment="header-login">
        <div class="col-md-offset-3 logo-login col-md-2">
            <a href="/"><img title="Gymnasium Waldkraiburg" src="/img/logo120px.png" /></a>
        </div>
        <h1 class="logo-text col-md-7">Ehemalige<br/><small>des Gymnasiums Waldkraiburg</small></h1>
    </div>


    <!-- Footer -->
    <footer class="footer hidden-print" th:fragment="footer">
        <div class="container">
            <div class="textbox">
                <p class="text-faded text-muted pull-left">&copy; 2016 Gymnasium Waldkraiburg</p>

                <p class="text-faded pull-right">
                    <!-- Anmelden -->
                    <a style="color: #333244;" href="/login" th:if="${currentUser == null}">
                        <strong>Anmelden</strong>
                    </a>
                    <!-- Angemeldet -->
                    <span style="color: #333244;" th:if="${currentUser != null}">Angemeldet als </span>
                    <strong>
                        <a style="color: #333244;" href="/user" th:if="${currentUser != null}" th:text="${currentUser.firstName} + ' ' + ${currentUser.lastName}">
                            invalid-user
                        </a>
                    </strong> &emsp;
                    <!-- Impressum -->
                    <a style="color: #333244;" href="/impressum">Impressum</a> &emsp;
                    <!-- Datenschutz -->
                    <a style="color: #333244;" href="/impressum#datenschutz">Datenschutz</a> &emsp;
                    <!-- Feedback -->
                    <a style="color: #333244;" href="/impressum#feedback">Feedback geben</a>
                </p>
                <div style="clear: both;"></div>
            </div>
        </div>
    </footer>

    <div class="footer hidden-print" th:fragment="footer-login">
        <div class="container">
            <div class="textbox text-muted">
                <p class="text-faded pull-left">&copy; 2016 Gymnasium Waldkraiburg</p>

                <p class="text-faded pull-right">
                    <a href="/impressum">Impressum</a> &emsp;
                    <a href="/impressum#datenschutz">Datenschutz</a> &emsp;
                    <a href="/impressum#feedback">Feedback geben</a>
                </p>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>
</body>

</html>