<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Anmelden')"></head>

<body>
<!-- Alternative ohne IE- und Edge-Support -->
<!--img class="background-login" th:src="@{/img/school-image.jpg}" /-->
<div class="content-wrap">
    <!--<div id="carousel-about" class="carousel slide" data-ride="carousel" style="position: absolute; width: 100%;">
        <!- Indicators ->
        <ol class="carousel-indicators">
            <li data-target="#carousel-about" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-about" data-slide-to="1"></li>
            <li data-target="#carousel-about" data-slide-to="2"></li>
            <li data-target="#carousel-about" data-slide-to="3"></li>
        </ol>

        <!- Wrapper for slides ->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="http://www.gymnasiumwaldkraiburg.de/images/stories/Startseite/Test/Schule_15.JPG"/>
                <div class="carousel-caption">
                    <p>Gymnasium Waldkraiburg Pyramide</p>
                </div>
            </div>
            <div class="item">
                <img src="http://www.gymnasiumwaldkraiburg.de/images/stories/Startseite/Test/Schule_5.JPG"/>
                <div class="carousel-caption">
                    <p>Gymnasium Waldkraiburg Pausenhof</p>
                </div>
            </div>
            <div class="item">
                <img src="http://www.gymnasiumwaldkraiburg.de/images/stories/Startseite/Test/Schule_13.JPG"/>
                <div class="carousel-caption">
                    <p>Gymnasium Waldkraiburg Aula</p>
                </div>
            </div>
            <div class="item">
                <img src="http://www.gymnasiumwaldkraiburg.de/images/stories/Startseite/Test/Schule_9.JPG"/>
                <div class="carousel-caption">
                    <p>Gymnasium Waldkraiburg Neubau</p>
                </div>
            </div>
        </div>
    </div-->
    <div class="container">
        <div th:replace="fragments :: header-login">
        </div>
        <div class="row">
            <div class="hidden-xs hidden-sm col-md-7 col-signin">

                <!-- Controls
                <a class="left carousel-control" href="#carousel-about" role="button" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                    <span class="sr-only">Zurück</span>
                </a>
                <a class="right carousel-control" href="#carousel-about" role="button" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                    <span class="sr-only">Vor</span>
                </a> -->
            </div>
            <div class="col-md-5">
                <div class="panel-badge">
                    <h4>Unterstützt durch den Förderverein des Gymnasiums Waldkraiburg<br/>
                    </h4>
                </div>

                <div class="col-signin panel panel-signin" style="background: rgba(240,240,240,0.75);">
                    <h2 class="panel-heading form-signin-heading">Anmelden</h2>
                    <div class="alert alert-danger" th:if="${param.error != null}" role="alert">
                        <!-- <small><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>  -->
                        Anmeldung fehlgeschlagen
                    </div>
                    <form th:action="@{/login}" method="post" class="form-signin">
                        <div class="form-group">
                            <label for="username" class="sr-only">E-Mail</label>
                            <input type="text" name="username" id="username" placeholder="Email"
                                   class="form-control first-input" required="required" autofocus="autofocus"
                                   th:value="${username != null} ? ${username}"/>
                            <label for="password" class="sr-only">Passwort</label>
                            <input type="password" name="password" id="password" placeholder="Passwort"
                                   class="form-control second-input" required="required"/>
                        </div>
                        <button type="submit" class="btn btn-lg btn-primary btn-block">Anmelden</button>
                    </form>
                    <div class="text-inline" style="margin-bottom: 5px;">
                        <a th:href="@{/signup}" class="btn btn-link" id="create-account">Registrieren</a>
                        <a th:href="@{/reset}" class="btn btn-link pull-right" id="reset-password">Passwort
                            vergessen?</a>
                    </div>
                    <p>Design mit Bootstrap</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: bootstrap-script"></div>
<style th:inline="text">
    body {
        background: url([[@{/img/school-image.jpg}]])
                    no-repeat center 30%;
        background-size: auto;
    }
</style>
</body>

</html>
