<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Anmelden')"></head>

<body>
    <div class="content-wrap">
        <div class="container">
            <div th:replace="fragments :: header-login">
            </div>
            <div class="panel panel-signin">
                <h2 class="panel-heading form-signin-heading">Anmelden</h2>
                <div class="alert alert-danger" th:if="${param.error != null}" role="alert">
                    <!-- <small><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>  -->
                    Anmeldung fehlgeschlagen
                </div>
                <form th:action="@{/login}" method="post" class="form-signin">
                    <div class="form-group">
                        <label for="username" class="sr-only">E-Mail</label>
                        <input type="text" name="username" id="username" placeholder="Email" class="form-control first-input" required="required" autofocus="autofocus" th:value="${username != null} ? ${username}" />
                        <label for="password" class="sr-only">Passwort</label>
                        <input type="password" name="password" id="password" placeholder="Passwort" class="form-control second-input" required="required" />
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Anmelden</button>
                </form>
                <div class="text-inline" style="margin-bottom: 5px;">
                    <a th:href="@{/signup}" class="btn btn-link" id="create-account">Registrieren</a>
                    <a th:href="@{/reset}" class="btn btn-link pull-right" id="reset-password">Passwort vergessen?</a>
                </div>
                    <a th:href="@{/about}" class="btn btn-primary btn-block" id="more-information" style="text-align: center; background-color: #eee; color: #555;">
                        <strong><span class="fa fa-info-circle"></span> Mehr erfahren</strong>
                    </a>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: bootstrap-script"></div>
</body>

</html>