<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Nachricht')"></head>

<body>
    <div class="content-wrap">
        <div class="container">
            <div th:replace="fragments :: header"></div>
            <form class="form-horizontal form-signup" th:action="@{/send}" method="post">
                <div class="panel panel-primary">
                    <div class="panel-heading">Neue Nachricht</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="inputRecipient" class="col-sm-2 control-label">Empfänger</label>
                            <div class="col-sm-10" th:if="${recipient}">
                                <input type="text" class="form-control" id="inputRecipient" th:value="|${recipient.firstName} ${recipient.lastName}|" disabled="true" />
                                <input type="hidden" name="recipientId" th:value="${recipient.id}" />
                            </div>
                            <div class="col-sm-10" th:if="${year}">
                                <input type="text" class="form-control" id="inputRecipient" th:value="|Alle ehemaligen Schüler des Abiturjahres ${year}|" disabled="true" />
                                <input type="hidden" name="recipientsYear" th:value="${year}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputContent" class="col-sm-2 control-label">Nachricht</label>
                            <div class="col-sm-10">
                                <textarea id="inputContent" class="form-control" name="content" rows="10" autofocus="true" required="true" style="resize: none" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" th:disabled="${not currentUser.activated}">Senden</button>
                                <a th:if="${recipient}" th:href="@{/user/{id}(id=${recipient.id})}" class="btn btn-default">Abbrechen</a>
                                <a th:if="${year}" th:href="@{/search(year=${year})}" class="btn btn-default">Abbrechen</a>
                                <!-- Help-Box sollte immer ganz unten stehen -->
                                <p th:if="${not currentUser.activated}" class="help-block">Um Nachrichten zu senden,
                                    <abbr title="Bei der Registrierung erhälst du eine automatische E-Mail zur Aktivierung des Accounts.">aktiviere bitte deinen Account</abbr>
                                    .
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: bootstrap-script"></div>
</body>

</html>