<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Veranstaltung erstellen')"></head>

<body>
    <div class="content-wrap">
        <div class="container">
            <div th:replace="fragments :: header"></div>
            <form class="form-horizontal form-signup" th:action="@{/event/new}" method="post">
                <div class="panel panel-primary">
                    <div class="panel-heading">Neue Veranstaltung</div>
                    <div class="panel-body">
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" name="name" autofocus="true" required="true"/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputOrganizer" class="col-sm-2 control-label">Veranstalter</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputOrganizer" th:value="|${currentUser.firstName} ${currentUser.lastName}|" disabled="true" />
                                <input type="hidden" name="organizer" th:value="${currentUser.getId()}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputParticipants" class="col-sm-2 control-label">Teilnehmer</label>
                            <div class="col-sm-10">
                                <select style="height: 160px;" class="form-control" multiple="true" role="button" name="participants" type="text" id="inputParticipants" required="true">
                                    <option th:each="user : ${users}" th:value="${user.getId()}" th:text="|${user.firstName} ${user.lastName}|"></option>
                                </select>
                                <p class="help-block">Mit der Steuerung-Taste kannst du mehrere Teilnehmer auswählen.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-2 control-label">Beschreibung</label>
                            <div class="col-sm-10">
                                <textarea id="inputDescription" class="form-control" name="description" rows="4" required="true" style="resize: none"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPlace" class="col-sm-2 control-label">Ort</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPlace" name="place" required="true" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPlace" class="col-sm-2 control-label">Datum</label>
                            <div class="col-sm-4">
                                <input type="date" class="form-control" id="inputDate" name="dateString" required="true" />
                            </div>
                            <label for="inputTime" class="col-sm-2 control-label">Zeit</label>
                            <div class="col-sm-4">
                                <input type="time" class="form-control" id="inputTime" name="timeString" required="true" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" th:disabled="${not currentUser.activated}">Veranstaltung erstellen</button>
                                <a href="javascript:history.back()" class="btn btn-default">Abbrechen</a>
                                <!-- Help-Box sollte immer ganz unten stehen -->
                                <p th:if="${not currentUser.activated}" class="help-block">Sie können keine Veranstaltungen erstellen, solange Sie Ihre E-Mail noch nicht bestätigt haben.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: bootstrap-script"></div>
</body>

</html>