<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Veranstaltung erstellen')"></head>

<body>
    <div class="content-wrap">
        <div class="container">
            <div th:replace="fragments :: header"></div>
            <form class="form-horizontal form-signup" th:action="@{/event/new}" method="post">
                <div class="panel panel-primary">
                    <div class="panel-heading">Neue Veranstaltung</div>
                    <div class="panel-body">
                        <div class="alert alert-danger alert-dismissible fade in" th:if="${(param.error != null) and (param.error[0] == 'timePast')}" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            <strong>Erstellung fehlgeschlagen: Veranstaltungszeitpunkt bereits vergangen</strong>
                        </div>
                        <div class="form-group">
                            <label for="inputName" class="col-sm-2 control-label">Name</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputName" name="name" autofocus="true" required="true" th:value="${event != null} ? ${event.name}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputOrganizer" class="col-sm-2 control-label">Veranstalter</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputOrganizer" disabled="true"
                                th:value="${event != null} ? |${event.organizer.firstName} ${event.organizer.lastName}| : |${currentUser.firstName} ${currentUser.lastName}|" />
                                <input type="hidden" name="organizer" th:value="${event != null} ? ${event.organizer.getId()} : ${currentUser.getId()}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputParticipants" class="col-sm-2 control-label">Teilnehmer</label>
                            <div class="col-sm-10">
                                <select style="height: 160px;" class="form-control" multiple="true" role="button" name="participants" type="text" id="inputParticipants" required="true">
                                    <option th:each="user : ${users}" th:value="${user.getId()}" th:text="|${user.firstName} ${user.lastName}|"
                                    th:selected="${event != null} ? ${#lists.contains(event.participants, user)} : 'false'"
                                    th:unless="${user.equals(currentUser)}"></option>
                                </select>
                                <p class="help-block">Mit der Steuerung-Taste kannst du mehrere Teilnehmer auswählen.</p>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputDescription" class="col-sm-2 control-label">Beschreibung</label>
                            <div class="col-sm-10">
                                <textarea id="inputDescription" class="form-control" name="description" rows="4" required="true" style="resize: none" th:text="${event != null} ? ${event.description}"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputPlace" class="col-sm-2 control-label">Ort</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputPlace" name="place" required="true" th:value="${event != null} ? ${event.place}" />
                            </div>
                        </div>
                        <div th:class="|form-group ${param.error != null and param.error[0] == 'timePast' ? 'has-error' : ''}|">
                            <label for="inputDate" class="col-sm-2 control-label">Datum</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="inputDate" name="dateString" required="true" th:value="${date != null} ? ${date}" />
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success" th:disabled="${not currentUser.activated}">Veranstaltung erstellen</button>
                                <a href="javascript:history.back()" class="btn btn-default">Abbrechen</a>
                                <!-- Help-Box sollte immer ganz unten stehen -->
                                <p th:if="${not currentUser.activated}" class="help-block">Sie können keine Veranstaltungen erstellen, solange Sie Ihre E-Mail noch nicht bestätigt haben.</p>
                            </div>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: bootstrap-script"></div>
    <script>
        $(function () {
            $('#inputDate').datetimepicker({
                locale: 'de'
            });
        });
    </script>
</body>

</html>