<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Anmelden')"></head>

<body>
    <div class="content-wrap">
        <div class="container">
            <div th:replace="fragments :: header-login">
            </div>
            <div class="panel panel-signin">
                <h2 class="panel-heading form-signin-heading">Neues Passwort</h2>
                <div class="alert alert-danger alert-dismissible fade in" th:if="${(param.error != null) and (param.action == null)}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p><strong>Zurücksetzung fehlgeschlagen</strong></p>
                    Bitte versuchen Sie es erneut oder kontaktieren Sie uns.
                </div>
                <div class="alert alert-success alert-dismissible fade in" th:if="${(param.error == null) and (param.action != null) and (param.action[0] == 'success')}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p><strong>Zurücksetzung erfolgreich</strong></p>
                    Ihr Password wurde geändert
                </div>
                <form action="/resetpassword" method="post" class="form-signin">
                    <div class="form-group">
                        <p>Geben Sie Ihr neues Passwort ein</p>
                        <label for="password" class="sr-only">Passwort</label>
                        <input type="password" name="password" id="email" placeholder="Passwort" class="form-control" required="true" autofocus="true" />
                    </div>
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Passwort ersetzen</button>
                    <a href="/login" class="btn btn-default btn-block">Abbrechen</a>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: bootstrap-script"></div>
</body>

</html>