<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Neues Passwort')"></head>

<body>
    <div class="content-wrap">
        <div class="container">
            <div th:replace="fragments :: header"></div>
            <div class="panel panel-signin">
                <h2 class="panel-heading form-signin-heading">Neues Passwort</h2>
                <div class="alert alert-danger alert-dismissible fade in" th:if="${(param.error != null) and (param.error[0] == '')}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <p><strong>Änderung fehlgeschlagen</strong></p>
                    Bitte versuchen Sie es erneut oder kontaktieren Sie uns.
                </div>
                <div class="alert alert-danger alert-dismissible fade in" th:if="${(param.error != null) and (param.error[0] == 'passwordIncorrect')}" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    Die Eingaben stimmen nicht überein
                </div>
                <form th:action="@{/reset}" method="post" class="form-signin">
                    <div class="form-group">
                        <p>Geben Sie Ihr neues Passwort ein</p>
                        <label for="password" class="sr-only">Neues Passwort</label>
                        <input type="password" name="password" id="password" placeholder="Neues Passwort" class="form-control first-input" required="required" autofocus="autofocus" />
                        <label for="confirmPassword" class="sr-only">Passwort wiederholen</label>
                        <input type="password" id="confirmPassword" placeholder="Passwort wiederholen" class="form-control second-input" required="required" oninput="validate(this)" />
                    </div>
                    <input type="hidden" name="token" th:if="${param.token != null}" th:value="${param.token[0]}" />
                    <button type="submit" class="btn btn-lg btn-primary btn-block">Passwort ändern</button>
                    <a th:href="@{/login}" class="btn btn-default btn-block">Abbrechen</a>
                </form>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: bootstrap-script"></div>
    <script type="text/javascript">
        function validate(input) {
            if (input.value != document.getElementById('password').value) {
                input.setCustomValidity('Passwörter müssen übereinstimmen');
            } else {
                input.setCustomValidity('');
            }
        }
    </script>
</body>

</html>