<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Übersicht')"></head>

<body>
    <div class="content-wrap">
        <div class="container">
            <div th:replace="fragments :: header"></div>
            <div class="panel panel-primary">
                <div class="panel-heading">Übersicht</div>
                <div class="panel-body">
                    <div class="col-sm-6">
                        <!-- Profil -->
                        <div class="panel panel-default panel-overview">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <attr class="fa fa-user" aria-hidden="true" title="Account"></attr>
                                    <span th:text="| ${currentUser.firstName} ${currentUser.lastName}|">Benutzer</span>
                                </h3>
                            </div>
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td>
                                        <attr class="fa fa-graduation-cap text-muted" aria-hidden="true" title="Abschlussjahr"></attr>
                                        <span class="sr-only">Abschlussjahrahrgang:</span>
                                    </td>
                                    <td>
                                        <span th:text="| ${currentUser.graduationYear}|">year</span>
                                        <span class="text-muted" th:text="| (${currentUser.graduationType.desc})|">gradType</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <attr class="fa fa-briefcase text-muted" aria-hidden="true" title="Beschäftigung"></attr>
                                        <span class="sr-only">Beschäftigung:</span>
                                    </td>
                                    <td th:text="| ${currentUser.occupation}|">occu</td>
                                </tr>
                                <tr>
                                    <td>
                                        <attr class="fa fa-book text-muted" aria-hidden="true" title="Fachgebiet"></attr>
                                        <span class="sr-only">Fachgebiet:</span>
                                    </td>
                                    <td th:text="| ${currentUser.discipline.desc}">disc</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="panel-footer">
                                <a th:href="@{/edit}" class="btn btn-default">Einstellungen</a>
                            </div>
                        </div>
                        <!-- END Profil -->
                        <!-- Veranstaltungen -->
                        <h4><span th:class="|fa ${#lists.isEmpty(events) ? 'fa-calendar-o' : 'fa-calendar'}|" aria-hidden="true"></span> Meine Veranstaltungen</h4>
                        <div class="seperator"></div>
                        <div class="form-group form-inline">
                            <a th:href="@{/event}" th:class="|btn btn-default ${(not currentUser.activated) ? 'disabled' : ''}|"><span class="fa fa-calendar-plus-o" aria-hidden="true"></span> Veranstaltung erstellen</a>
                            <!-- Help-Box sollte immer ganz unten stehen -->
                            <p th:if="${not currentUser.activated}" class="help-block">Du kannst noch keine Veranstaltungen erstellen, solange Sie Ihre E-Mail noch nicht bestätigt haben.</p>
                        </div>
                        <div class="panel-body" th:if="${#lists.isEmpty(events)}">
                            <p class="text-center lead text-muted" style="margin-top: 64px;">Du bist noch bei keinen Veranstaltungen.</p>
                        </div>
                        <div class="list-group list-scroll">
                            <a class="list-group-item" th:each="event : ${events}" th:href="@{/event/{id}(id=${event.id})}">
                                <h4 class="list-group-item-heading">
                                    <span class="fa fa-calendar-o" aria-hidden="true"></span>
                                    <span th:text="| ${event.name}"></span>
                                </h4>
                                <ul class="list-group-item-text list-unstyled">
                                    <li>
                                        <attr class="fa fa-user text-muted" aria-hidden="true" title="Organisator"></attr>
                                        <span class="sr-only">Organisator:</span>
                                        <span th:text="| ${event.organizerId}|">orga</span>
                                    </li>
                                    <li>
                                        <attr class="fa fa-users text-muted" aria-hidden="true" title="Teilnehmer"></attr>
                                        <span class="sr-only">Teilnehmer:</span>
                                        <span th:text="| ${event.participants.length}|">part</span>
                                    </li>
                                    <li>
                                        <attr class="fa fa-info text-muted" aria-hidden="true" title="Beschreibung"></attr>
                                        <span class="sr-only">Beschreibung:</span>
                                        <span th:text="| ${event.description}">desc</span>
                                    </li>
                                    <li>
                                        <attr class="fa fa-map-marker text-muted" aria-hidden="true" title="Ort"></attr>
                                        <span class="sr-only">Ort:</span>
                                        <span th:text="| ${event.place}">plac</span>
                                    </li>
                                    <li style="margin-top: 10px;" th:if="${currentUser.getId() == event.getOrganizerId()}">
                                        <button class="btn btn-default" disabled="disabled">
                                            <attr class="fa fa-pencil" aria-hidden="true" aria-label="Veranstaltung bearbeiten" title="Veranstaltung bearbeiten"></attr>
                                        </button>
                                        <button class="btn btn-default" href="" disabled="disabled">
                                            <attr class="fa fa-times" aria-hidden="true" aria-label="Veranstaltung löschen" title="Veranstaltung löschen"></attr>
                                        </button>
                                    </li>
                                </ul>
                            </a>
                        </div>
                        <!-- END Veranstaltungen -->
                    </div>
                    <div class="col-sm-6">
                        <!-- Jahrgang -->
                        <h4><span class="fa fa-graduation-cap" aria-hidden="true"></span> Mein Jahrgang</h4>
                        <div class="seperator"></div>
                        <div class="form-group form-inline">
                            <a th:href="@{/message(to=${'year' + currentUser.graduationYear})}" th:class="|btn btn-default ${not currentUser.activated ? 'disabled' : ''}|"><span class="fa fa-envelope-o" aria-hidden="true"></span> Nachricht an Jahrgang</a>
                            <!-- Help-Box sollte immer ganz unten stehen -->
                            <p th:if="${not currentUser.activated}" class="help-block">Du kannst noch keine Nachrichten senden, solange Sie Ihre E-Mail noch nicht bestätigt haben.</p>
                        </div>
                        <div class="form-group">
                            <form role="search" th:action="@{/search}" method="get">
                                <div class="input-group" role="group">
                                    <input class="form-control" type="search" name="q" placeholder="Nach Nutzern aus dem Jahrgang suchen..." />
                                    <input type="hidden" name="year" th:value="${currentUser.graduationYear}" />
                                    <span class="input-group-btn">
                                        <button type="submit" class="btn btn-default"><span class="fa fa-search" aria-hidden="true"></span></button>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <div class="panel-body" th:if="${#lists.isEmpty(year)}">
                            <p class="text-center lead text-muted" style="margin-top: 64px;">Es sind noch keine Nutzer aus deinem Jahrgang angemeldet.</p>
                        </div>
                        <div class="list-group list-scroll">
                            <a class="list-group-item" th:each="user : ${year}" th:href="@{/user/{id}(id=${user.id})}">
                                <h4 class="list-group-item-heading" th:text="|${user.firstName} ${user.lastName}|">Benutzer</h4>
                                <ul class="list-group-item-text list-unstyled">
                                    <li>
                                        <attr class="fa fa-graduation-cap text-muted" aria-hidden="true" title="Abschlussjahr"></attr>
                                        <span class="sr-only">Abschlussjahrahrgang:</span>
                                        <span th:text="| ${user.graduationYear}|">year</span>
                                        <span class="text-muted" th:text="| (${user.graduationType.desc})|">gradType</span>
                                    </li>
                                    <li>
                                        <attr class="fa fa-briefcase text-muted" aria-hidden="true" title="Beschäftigung"></attr>
                                        <span class="sr-only">Beschäftigung:</span>
                                        <span th:text="| ${user.occupation}|">occu</span>
                                    </li>
                                    <li>
                                        <attr class="fa fa-book text-muted" aria-hidden="true" title="Fachgebiet"></attr>
                                        <span class="sr-only">Fachgebiet:</span>
                                        <span th:text="| ${user.discipline.desc}">occu</span>
                                    </li>
                                </ul>
                            </a>
                        </div>
                        <!-- END Jahrgang -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: bootstrap-script"></div>
</body>

</html>