<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Übersicht')"></head>

<body>
    <div class="content-wrap">
        <div class="container">
            <div th:replace="fragments :: header"></div>
            <div class="panel panel-primary panel-overview">
                <div class="panel-heading">Übersicht</div>
                <div class="panel-body row">
                    <div class="col-sm-6  col-overview">
                        <!-- Profil -->
                        <div class="panel panel-default panel-inner">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <attr class="fa fa-user" aria-hidden="true" title="Account"></attr>
                                    <span th:text="| ${currentUser.firstName} ${currentUser.lastName}|">Benutzer</span>
                                </h3>
                            </div>
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <td>
                                        <attr class="fa fa-graduation-cap text-muted" aria-hidden="true"
                                              title="Abschlussjahr"></attr>
                                        <span class="sr-only">Abschlussjahrahrgang:</span>
                                    </td>
                                    <td>
                                        <span th:text="| ${currentUser.graduationYear}|">year</span>
                                        <span class="text-muted" th:text="| (${currentUser.graduationType.desc})|">gradType</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <attr class="fa fa-briefcase text-muted" aria-hidden="true"
                                              title="Beschäftigung"></attr>
                                        <span class="sr-only">Beschäftigung:</span>
                                    </td>
                                    <td th:text="| ${currentUser.occupation}|">occu</td>
                                </tr>
                                <tr>
                                    <td>
                                        <attr class="fa fa-book text-muted" aria-hidden="true"
                                              title="Fachgebiet"></attr>
                                        <span class="sr-only">Fachgebiet:</span>
                                    </td>
                                    <td th:text="| ${currentUser.discipline.desc}">disc</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="panel-footer">
                                <a th:href="@{/edit}" class="btn btn-default">
                                    <span class="fa fa-gear" aria-hidden="true"></span>
                                    Einstellungen
                                </a>
                            </div>
                        </div>
                        <!-- END Profil -->
                        <!-- Veranstaltungen -->
                        <div class="panel panel-default panel-inner">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <span th:class="|fa ${#lists.isEmpty(events) ? 'fa-calendar-o' : 'fa-calendar'}|" aria-hidden="true"></span>
                                     Veranstaltungen
                                </h3>
                            </div>
                            <div class="panel-body" th:if="${#lists.isEmpty(events)}">
                                <p class="text-center text-muted" style="margin-top: 5%;">Keine Veranstaltungen</p>
                            </div>
                            <div class="list-group list-scroll">
                                <a class="list-group-item" th:each="event : ${events}" th:href="@{/event/{id}(id=${event.id})}">
                                    <h4 class="list-group-item-heading">
                                        <span th:class="|fa ${event.getOrganizer().getId() == currentUser.getId() ? 'fa-calendar-check-o' : 'fa-calendar-o'}|" th:title="${event.getOrganizer().getId() == currentUser.getId() ? 'Organisator' : 'Teilnehmer'}" aria-hidden="true"></span>
                                        <span th:text="| ${event.name}"></span>
                                    </h4>
                                    <ul class="list-group-item-text list-unstyled">
                                        <li>
                                            <span class="fa fa-user text-muted" aria-hidden="true" title="Organisator"></span>
                                            <span class="sr-only">Organisator:</span>
                                            <span th:text="| ${event.getOrganizer().firstName} ${event.getOrganizer().firstName}|">orga</span>
                                        </li>
                                        <li>
                                            <span class="fa fa-users text-muted" aria-hidden="true" title="Teilnehmer"></span>
                                            <span class="sr-only">Teilnehmer:</span>
                                            <span th:each="participant,iterStat : ${event.participants}" th:text="| ${participant.firstName} ${participant.lastName}${(!iterStat.last) ? ',' : ''}|">part</span>
                                        </li>
                                        <li>
                                            <span class="fa fa-info text-muted" aria-hidden="true" title="Beschreibung"></span>
                                            <span class="sr-only">Beschreibung:</span>
                                            <span th:text="| ${event.description}">desc</span>
                                        </li>
                                        <li>
                                            <span class="fa fa-clock-o text-muted" aria-hidden="true" title="Datum und Uhrzeit"></span>
                                            <span class="sr-only">Datum und Uhrzeit:</span>
                                            <span th:text="| ${#calendars.format(event.time, 'dd.MM.yyyy HH:mm')}">time</span>
                                        </li>
                                        <li>
                                            <span class="fa fa-map-marker text-muted" aria-hidden="true" title="Ort"></span>
                                            <span class="sr-only">Ort:</span>
                                            <span th:text="| ${event.place}">plac</span>
                                        </li>
                                    </ul>
                                </a>
                            </div>
                            <div class="panel-footer">
                                <a th:href="@{/event}" class="btn btn-default" role="button" th:if="${currentUser.activated}">
                                    <span class="fa fa-calendar-plus-o" aria-hidden="true"></span>
                                     Veranstaltung erstellen
                                </a>

                                <a href="javascript:void(0)" class="btn btn-default" role="button" th:unless="${currentUser.activated}"
                                tabindex="0" data-toggle="popover" data-trigger="focus" data-content="Aktivierung erforderlich!">
                                    <span class="fa fa-calendar-plus-o" aria-hidden="true"></span>
                                    Veranstaltung erstellen
                                </a>
                            </div>
                        </div>
                        <!-- END Veranstaltungen -->
                    </div>
                    <div class="col-sm-6 col-overview">
                        <div class="panel panel-default panel-inner">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    <span class="fa fa-graduation-cap" aria-hidden="true"></span>
                                    <span th:text="| Abschlussjahrgang ${currentUser.graduationYear}|"></span>
                                </h3>
                            </div>
                            <div class="panel-body">
                                <form role="search" th:action="@{/search}" method="get" style="margin: 1%;">
                                    <div class="input-group" role="group">
                                        <input class="form-control" type="search" name="q"
                                               placeholder="Nach Nutzern aus dem Jahrgang suchen..."/>
                                        <input type="hidden" name="year" th:value="${currentUser.graduationYear}"/>
                                            <span class="input-group-btn">
                                                <button type="submit" class="btn btn-default"><span
                                                        class="fa fa-search" aria-hidden="true"></span></button>
                                            </span>
                                    </div>
                                </form>
                                <p class="text-center text-muted" style="margin-top: 5%;" th:if="${#lists.isEmpty(year)}">
                                    Keine weiteren Nutzer.
                                </p>
                            </div>
                            <div class="list-group list-scroll">
                                <a class="list-group-item" th:each="user : ${year}" th:href="@{/user/{id}(id=${user.id})}"
                                   th:text="|${user.firstName} ${user.lastName}|"></a>
                            </div>
                            <div class="panel-footer">
                                <a th:href="@{/message(to=${'year' + currentUser.graduationYear})}" class="btn btn-default" th:if="${currentUser.activated}">
                                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                     Nachricht an Jahrgang
                                </a>
                                <a href="javascript:void(0)" class="btn btn-default" role="button" th:unless="${currentUser.activated}"
                                   tabindex="0" data-toggle="popover" data-trigger="focus" data-content="Aktivierung erforderlich!">
                                    <span class="fa fa-envelope-o" aria-hidden="true"></span>
                                    Nachricht an Jahrgang
                                </a>
                            </div>
                        </div>
                        <!-- END Jahrgang -->
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: bootstrap-script"></div>
    <script>
        $(function () {
            $('[data-toggle="popover"]').popover()
        })
    </script>
</body>

</html>
