<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8" />
    <title>Benutzerdaten</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/img/favicon.png" type="image/png" />
</head>

<body>
    <div class="container">
        <div th:replace="fragments :: navbar">
        </div>
        <!-- <div th:replace="fragments :: header">
        </div> -->
        <div class="panel panel-primary">
            <div class="panel-heading" th:inline="text">Benutzerprofil von [[${user.firstName}]] [[${user.lastName}]]
            </div>
            <table class="table table-hover">
                <tr>
                    <td>Email</td>
                    <td th:text="${user.email}">GWEUser.email</td>
                </tr>
                <tr>
                    <td>Vorname</td>
                    <td th:text="${user.firstName}">GWEUser.firstName</td>
                </tr>
                <tr>
                    <td>Nachname</td>
                    <td th:text="${user.lastName}">GWEUser.lastName</td>
                </tr>
                <tr>
                    <td>Abiturjahr</td>
                    <td th:text="${user.graduationYear}">GWEUser.graduationYear</td>
                </tr>
                <tr>
                    <td>Beschäftigung</td>
                    <td th:text="${user.occupation}">GWEUser.occupation</td>
                </tr>
            </table>
            <div class="panel-footer">
                <a th:href="@{'mailto:' + ${user.email}}" class="btn btn-success">Nachricht</a>
            </div>
        </div>

    </div>

    <div th:replace="fragments :: footer">
    </div>
    <div th:replace="fragments :: bootstrap-script">
    </div>
</body>

</html>