<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta charset="UTF-8" />
    <title>Suchergebnisse</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="icon" href="/img/favicon.png" type="image/png" />

    <script type="text/javascript">
        function removeURLParameter(url, queryString, parameter) {
            var param = encodeURIComponent(parameter) + '=';
            var params = queryString.split(/[&;]/g);

            for (var i = params.length; i-- > 0;) {
                if (params[i].lastIndexOf(param, 0) !== -1) {
                    params.splice(i, 1);
                }
            }

            if (params.length > 0) {
                window.location = url + '?' + params.join(/[&;]/g);
            } else {
                window.location = url;
            }
        }
    </script>
</head>

<body>
    <div class="container">
        <div th:replace="fragments :: navbar">
        </div>
        <!-- <div th:replace="fragments :: header">
        </div> -->
        <div class="panel panel-primary" style="min-height: 320px">
            <div class="panel-heading">Suchergebnisse</div>
            <div class="panel-body">
                <div class="col-md-3 col-md-push-9 highlight-color hidden-print" style="margin-bottom: 20px;">
                    <div class="col-md-12">
                        <br />
                        <h4>Filter</h4>
                        <nav class="bs-docs-sidebar affix-top">
                            <form>
                                <ul class="nav sidenav">
                                    <li>
                                        <label>Sortierung</label>
                                        <select class="form-control" name="sort" id="sort">
                                            <option th:selected="${sort} == 'Name'" value="n">Name</option>
                                            <option th:selected="${sort} == 'Abschlussjahr'" value="y">Abschlussjahr</option>
                                            <option th:selected="${sort} == 'Beschäftigung'" value="o">Beschäftigung</option>
                                        </select>
                                    </li>
                                    <li>
                                        <label>Abschlussjahr</label>
                                        <select class="form-control" name="value" id="value" disabled="disabled">
                                            <option th:each="value : ${values}" th:text="${value}" th:value="(${value} == 'Alle') ? null : ${value}">Alle</option>
                                        </select>
                                    </li>
                                </ul>
                                <button style="margin-top: 12px;" class="btn btn-primary" type="submit">
                                    Anwenden
                                </button>
                            </form>
                        </nav>
                        <br />
                    </div>
                </div>


                <!-- Ergebnisse -->
                <div class="col-md-9 col-md-pull-3">

                    <!-- Eingrenzungen -->
                    <form class="form-inline" style="margin-bottom: 10px;">
                        <div class="form-group alert alert-info no-border-radius" style="min-width: 196px;" role="alert" th:if="${sort != null} and param.sort[0] != ''">
                            <a style="padding-left: 12px;" th:onclick="'removeURLParameter(\'' + ${#httpServletRequest.requestURI} + '\', \'' + ${#httpServletRequest.queryString} + '\', \'sort\');'" class="button close" aria-label="Sortierung löschen">
                                <span aria-hidden="true">&times;</span>
                            </a>
                            Sortierung: <span th:text="${sort}"></span>
                        </div>
                        <div class="form-group alert alert-info no-border-radius" style="min-width: 196px;" role="alert" th:if="${param.q != null and param.q[0] != ''}">
                            <a style="padding-left: 12px;" th:onclick="'removeURLParameter(\'' + ${#httpServletRequest.requestURI} + '\', \'' + ${#httpServletRequest.queryString} + '\', \'q\');'" class="button close" aria-label="Suche löschen">
                                <span aria-hidden="true">&times;</span>
                            </a>
                            Suche für "<span th:text="${param.q[0]}"></span>"
                        </div>
                        <div class="form-group alert alert-info no-border-radius" style="min-width: 196px;" role="alert" th:if="${param.y != null and param.y[0] != ''}">
                            <a style="padding-left: 12px;" th:onclick="'removeURLParameter(\'' + ${#httpServletRequest.requestURI} + '\', \'' + ${#httpServletRequest.queryString} + '\', \'y\');'" class="button close" aria-label="Suche löschen">
                                <span aria-hidden="true">&times;</span>
                            </a>
                            Abschlussjahr "<span th:text="${param.y[0]}"></span>"
                        </div>
                    </form>

                    <!-- Keine Ergebnisse -->
                    <h4 class="text-muted text-center" style="margin-top: 100px; margin-bottom: 70px;" th:if="${#lists.isEmpty(results)}">Es wurden keine Ergebnisse gefunden</h4>

                    <!-- Ergebnisse -->
                    <div class="list-group">
                        <a class="list-group-item" th:each="user : ${results}" th:href="@{/user/{id}(id=${user.id})}">
                            <span class="media-left">
                                <img class="media-object" src="/img/logo-default.png" alt="64x64" style="width: 64px; height: 64px;" />
                            </span>
                            <span class="media-body">
                                <h4 class="media-heading" th:text="${user.firstName} + ' ' + ${user.lastName}">Benutzer</h4>
                                Abiturjahrgang <span th:text="${user.graduationYear}">invalid-graduation-year</span>
                            <p>Beschäftigung: <span th:text="${user.occupation}">invalid-occupation</span></p>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer">
    </div>
    <div th:replace="fragments :: bootstrap-script">
    </div>
</body>

</html>