<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Suchergebnisse')"></head>

<body>
    <div class="content-wrap">
        <div class="container">
            <div th:replace="fragments :: navbar">
            </div>
            <!-- <div th:replace="fragments :: header">
            </div> -->
            <div class="panel panel-primary" style="min-height: 320px">
                <div class="panel-heading">Suchergebnisse<span th:if="${param.q != null and param.q[0] != ''}" th:text="| für &quot;${param.q[0]}&quot;|"></span></div>
                <form method="get">
                    <input type="hidden" name="q" th:if="${param.q != null and param.q[0] != ''}" th:value="${param.q[0]}" />
                    <input type="hidden" name="year" th:if="${param.year != null and param.year[0] != ''}" th:value="${param.year[0]}" />
                    <ul class="nav nav-pills">
                        <li role="presentation" th:if="${param.q != null and param.q[0] != ''}">
                            <a href="javascript:removeParam('q')" role="button" aria-haspopup="true" aria-expanded="false">Alle Nutzer</a>
                        </li>
                        <li class="dropdown" role="presentation">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Sortierung<span th:if="${sort}" th:text="|: ${sort}|"></span><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="btn btn-link" onclick="removeParam('sort')">Keine</button>
                                </li>
                                <li>
                                    <button class="btn btn-link" type="submit" name="sort" value="name">Name</button>
                                </li>
                                <li>
                                    <button class="btn btn-link" type="submit" name="sort" value="year">Abschlussjahr</button>
                                </li>
                                <li>
                                    <button class="btn btn-link" type="submit" name="sort" value="occu">Beschäftigung</button>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown" role="presentation">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                                Abschlussjahr<span th:if="${param.year != null and param.year[0] != ''}" th:text="|: ${param.year[0]}|"></span><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <button class="btn btn-link" onclick="removeParam('year')">Alle</button>
                                </li>
                                <li th:each="year : ${#numbers.sequence(2001, #dates.year(#dates.createNow()))}">
                                    <button class="btn btn-link" type="submit" name="year" th:value="${year}" th:text="${year}"></button>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </form>
                <div class="panel-body" th:if="${#lists.isEmpty(results)}">
                    <p>Es wurden keine Nutzer gefunden.</p>
                </div>
                <div class="list-group">
                    <a class="list-group-item" th:each="user : ${results}" th:href="@{/user/{id}(id=${user.id})}">
                        <h4 class="list-group-item-heading" th:text="|${user.firstName} ${user.lastName}|">Benutzer</h4>
                        <ul class="list-group-item-text list-unstyled">
                            <li>Abiturjahrgang: <span th:text="${user.graduationYear}">year</span></li>
                            <li>Beschäftigung: <span th:text="${user.occupation}">occu</span></li>
                        </ul>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div th:replace="fragments :: footer"></div>
    <div th:replace="fragments :: bootstrap-script"></div>
    <script type="text/javascript">
        function removeParam(param) {
            param = encodeURIComponent(param) + '=';
            var params = location.search.slice(1).split("\u0026");

            for (var i = params.length; i-- > 0;) {
                if (params[i].lastIndexOf(param, 0) !== -1) {
                    params.splice(i, 1);
                }
            }

            location.search = params.join("\u0026");
        }
    </script>
</body>

</html>