<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: head ('Registrieren')"></head>


<body>
<div class="content-wrap">
    <div class="container">
        <div th:replace="fragments :: header">
        </div>
        <form class="form-horizontal form-signup" th:action="@{/signup}" method="post">
            <div class="panel panel-primary">
                <div class="panel-heading">Registrieren</div>
                <div class="panel-body">
                    <div class="alert alert-danger" th:if="${(param.error != null) and (param.error[0] == '')}"
                         role="alert">
                        <!-- <small><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>  -->
                        Registrierung fehlgeschlagen
                    </div>
                    <div class="alert alert-danger" th:if="${(param.error != null) and (param.error[0] == 'email')}"
                         role="alert">
                        <!-- <small><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>  -->
                        Email bereits in Verwendung
                    </div>
                    <div class="alert alert-danger" th:if="${(param.error != null) and (param.error[0] == 'year')}"
                         role="alert">
                        <!-- <small><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></small>  -->
                        Abschlussjahr ist ungültig
                    </div>
                    <h4>Allgemeines</h4>
                    <div class="seperator"></div>
                    <div class="form-group">
                        <label for="inputEmail" class="col-sm-2 control-label">E-Mail</label>
                        <div class="col-sm-10">
                            <input name="email" type="email" class="form-control" id="inputEmail" placeholder="E-Mail"
                                   required="required" autofocus="autofocus"
                                   th:value="${signupUser != null} ? ${signupUser.email}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Passwort</label>
                        <div class="col-sm-10">
                            <input name="password" type="password" class="form-control" id="inputPassword"
                                   placeholder="Passwort" required="required"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputFirstName" class="col-sm-2 control-label">Vorname</label>
                        <div class="col-sm-10">
                            <input name="firstName" type="text" class="form-control" id="inputFirstName"
                                   placeholder="Vorname" required="required"
                                   th:value="${signupUser != null} ? ${signupUser.firstName}"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputLastName" class="col-sm-2 control-label">Nachname</label>
                        <div class="col-sm-10">
                            <input name="lastName" type="text" class="form-control" id="inputLastName"
                                   placeholder="Nachname" required="required"
                                   th:value="${signupUser != null} ? ${signupUser.lastName}"/>
                        </div>
                    </div>
                    <h4>Abschluss</h4>
                    <div class="seperator"></div>
                    <div class="form-group">
                        <div class="radio">
                            <div class="col-sm-4" th:each="g : ${graduationTypes}">
                                <label class="col-sm-offset-1">
                                    <input id="inputGradType" name="graduationType" type="radio" required="required"
                                           th:text="${g.desc}" th:value="${g.name()}"/>
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputGradYear" class="col-sm-2 control-label">Abschlussjahr</label>
                        <div class="col-sm-10">
                            <input name="graduationYear" type="number" class="form-control" id="inputGradYear"
                                   required="required"
                                   th:value="${signupUser != null} ? ${signupUser.graduationYear} : 2001"/>
                        </div>
                    </div>
                    <h4>Tätigkeit</h4>
                    <div class="seperator"></div>
                    <div class="form-group">
                        <label for="inputOccupation" class="col-sm-2 control-label">Über Dich</label>
                        <div class="col-sm-10">
                            <textarea name="occupation" class="form-control" id="inputOccupation"
                                      rows="5" required="required" maxlength="1000"
                                      th:text="${signupUser != null} ? ${signupUser.occupation}"></textarea>
                            <span id="helpBlock" class="help-block">
                                Beschreiben Sie hier kurz, was Sie gerade machen und wo Sie dies tun.
                                Beispiel: "Informatikstudent im 3. Semester an der TUM" oder
                                "Industriekaufmann bei BMW in der Abteilung Einkauf".
                                Außerdem können Sie optional einen kurzen Abriss über Ihren beruflichen
                                Werdegang angegeben. (Maximal 1000 Zeichen)
                            </span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputDiscipline" class="col-sm-2 control-label">Fachgebiete</label>
                        <div class="col-sm-10">
                            <select role="button" name="disciplines" class="form-control selectpicker"
                                    id="inputDiscipline" required="required" multiple="multiple" title="Keine">
                                <option th:each="d : ${disciplines}" th:text="${d.desc}" th:value="${d.name()}"
                                        th:selected="${signupUser != null &amp;&amp; signupUser.hasDiscipline(d)}"></option>
                            </select>
                        </div>
                    </div>
                    <h4>Datenschutz</h4>
                    <div class="seperator"></div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label class="col-sm-offset-2">
                                <input type="checkbox" required="required"/> Ich akzeptiere die <a
                                    th:href="@{/impressum#datenschutz}" target="_blank">Datenschutzvereinbarung</a> der
                                Schule
                            </label>
                        </div>
                    </div>
                    <div class="g-recaptcha col-sm-offset-2"
                         data-sitekey="6LceZg4UAAAAAH_eXYJDN1wcGTxSqCfA6FNMkhir"></div>
                </div>
                <div class="panel-footer">
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-success">Registrieren</button>
                            <a th:href="@{/login}" class="btn btn-default">Abbrechen</a>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments :: footer"></div>
<div th:replace="fragments :: bootstrap-script"></div>
</body>

</html>
