<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Benutzerdaten</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="icon" href="img/favicon.png" type="image/png" />
</head>

<body>
    <div class="container">
        <div class="page-header row">
            <div class="col-md-2">
                <a href="/"><img title="Gymnasium Waldkraiburg" src="img/logo120px.png" /></a>
            </div>
            <h1 class="col-md-10">Ehemalige<br/><small>des Gymnasiums Waldkraiburg</small></h1>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading">Benutzerdaten</div>
            <table class="table table-hover">
                <tr>
                    <td>Email</td>
                    <td th:text="${currentUser.email}">GWEUser.email</td>
                </tr>
                <tr>
                    <td>Vorname</td>
                    <td th:text="${currentUser.firstName}">GWEUser.firstName</td>
                </tr>
                <tr>
                    <td>Nachname</td>
                    <td th:text="${currentUser.lastName}">GWEUser.lastName</td>
                </tr>
            </table>
            <div class="panel-footer">
                <form th:action="@{/logout}" method="post">
                    <button class="btn btn-warning" type="submit">Abmelden</button>
                    <a href="/edit" class="btn btn-success">Bearbeiten</a>
                </form>
            </div>
        </div>

    </div>

    <!-- Footer -->
    <div class="footer">
        <div class="container">
            <div class="textbox text-muted">
                <p class="text-faded text-aligned-left">&copy; 2016 Gymnasium Waldkraiburg</p>
                <p class="text-faded text-aligned-right">
                    <a href="/login">Anmelden</a> &bull; 
                    <a href="/impressum#kontakt">Kontakt</a> &bull; 
                    <a href="/impressum#datenschutz">Datenschutz</a> &bull; 
                    <a href="/impressum#feedback">Feedback geben</a>
                </p>
                <div style="clear: both;"></div>
            </div>
        </div>
    </div>

</body>

</html>